:root {
    background-color: lightgray;
}

.app-header {
    text-align: left;
    font-size: 2em;
}

/* navigation bar */
nav {
    background-color: darkgray;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.link-text {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
