/* home background image */
.bg-image {
    opacity: 0.1;
    width: 35%;
}

/* https://www.w3schools.com/howto/howto_css_image_text_blocks.asp */
.home-container {
  position: relative;
  margin: 2px;
}

.home-text {
  position: absolute;
  top: 0px;
  left: 16px;
}
